<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/DataRequests.js"></script>
    <meta charset="UTF-8">
    <title>SUBWAY DISPLAY!</title>
</head>

<body>
Yo This will be a kickass display coming soon^tm
<br>
<span>
    new test
</span>
<br>
<span>
    <button id="test_button">Test Button</button>
</span>
<br>
<span id="result">

</span>

<footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
</body>
</html>