<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="/static/css/style.css">-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/DataRequests.js"></script>
    <meta charset="UTF-8">
    <title>SUBWAY DISPLAY!</title>
</head>

<body>
<div id="main_div">
    <div id="container">
        <span>PI MTA TRACKER</span>
    </div>
    <div class="station_div">
        <div class="station_header">
            <span>Times Square Station</span>
        </div>
        <div class="direction_div">
            <div class="direction_header"> North</div>
            <div>Train 1 Info</div>
            <div>Train 2 Info</div>
            <div>Train 3 Info</div>
        </div>
        <div class="direction_div">
            <div class="direction_header"> South</div>
            <div>Train 1 Info</div>
            <div>Train 2 Info</div>
            <div>Train 3 Info</div>
        </div>
    </div>


    <button id="test_button">Test Button</button>
    <span id="result"></span>
</div>