
#main_div {
    margin: 10px;
    width: 90%;
    position: absolute;
    left: 50%;
    margin-left: -45%;
    min-width: 500px;
    background-color: blueviolet;
    padding: 10px;
}

#test_span {
    background-color: blue;
}

#header_div {
    height: 75px;
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: coral;
}

.station_div {
    display: block;
    overflow: auto;
    margin: 10px;
    padding: 10px;

    background-color: lime;
}

.station_header {
    height: 75px;
    padding: 10px;

    border-radius: 25px 25px 1px 1px;
    display: flex;
    background-color: cornflowerblue;
}

.direction_div {
    height: 50%;
    width: 50%;
    float: left;
    border-radius: 1px 1px 25px 25px;
    background-color: aquamarine;

}

.direction_div div {
    padding: 10px;
    /*margin: 10px;*/
    border-radius: 1px;
    background-color: chocolate;
}

/*.direction_div div:first-child{*/
/*    border-radius: 25px 25px 1px 1px;*/
/*}*/

.direction_div div:last-child {
    border-radius: 1px 1px 25px 25px;
}

.direction_header {
    background-color: bisque !important;
    /*border-radius: 1px;*/
}

/*div {*/
/*    border-radius: 25px;*/
/*}*/

span {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}