.site-title {
    font-size: 4rem;
}

.card-header {
    font-size: 3rem !important;
}

.station-name {
    font-size: 3.5rem !important;
}

.station-info {
    font-size: 2.5rem !important;
}

.station-info h1 {
  float: right;
}


@media screen and (max-width: 1000px) {
    .site-title {
        font-size: 2rem !important;
    }

    .card-header {
        font-size: 1.5rem !important;
    }

    .station-name {
        font-size: 1.75rem !important;
    }

    .station-info {
        font-size: 1.25rem !important;
    }
}
